#login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, var(--primary-color) 25%, rgb(99,188,241) 100%);
}

.login-form {
  width: min(500px, 80vw);
}

.register-here {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}
