<div id="login-page">
  <p-card header="Entrar" styleClass="login-form p-2">
    <div class="row mb-2">
      <div class="col">
        <label class="d-block">Usuário</label>
        <input pInputText type="text" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="d-block">Senha</label>
        <input pInputText type="password" class="w-100">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <small>Primeiro acesso? Cadastre-se clicando aqui!</small>
      </div>
    </div>
  </p-card>
</div>