span:has(> span.best-date),
.best-date {
  background-color: #046B3C;
  color: white;
}

span:has(> span.recommended-date),
.recommended-date {
  background-color: #DBB800;
  color: white;
}

span.p-highlight,
span.p-highlight .best-date,
span.p-highlight .recommended-date {
  background-color: #B5B7FB !important;
}

.color-subtitle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
