<p-dialog header="Marcar evento"
          [modal]="true"
          [(visible)]="modalVisible"
          [style]="{ width: 'min(600px, 80vw)' }"
          (onHide)="clearScheduleEventData()"
>
  <ng-container [formGroup]="scheduleEventData">
    <div class="row">
      <div class="col">
        <label class="d-block mb-1">Escolha o dia para marcar o evento</label>
        <p-calendar [formControlName]="fieldEventDate"
                    [minDate]="event?.beginDate"
                    [maxDate]="event?.endDate"
                    [readonlyInput]="true"
                    selectionMode="single"
                    dateFormat="dd/mm/yy"
                    styleClass="w-100 mb-2"
                    appendTo="body"
        >
          <ng-template pTemplate="date" let-date>
            <span [ngClass]="{'best-day': isBestDay(date)}"
                  [tooltipDisabled]="!isBestDay(date)"
                  [pTooltip]="getParticipants(date)"
                  tooltipPosition="top"
            >
              {{date.day}}
            </span>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="p-2 fw-semibold">
              <div class="color-subtitle me-1"></div>
              Melhores dias para marcar o evento
            </div>
          </ng-template>
        </p-calendar>
        <small>
          <i>Indicamos os melhores dias para o evento ocorrer com base na resposta dos participantes, porém a escolha é livre!</i>
        </small>
      </div>
    </div>
  </ng-container>
  <ng-template pTemplate="footer">
    <p-button severity="danger"
              [text]="true"
              (click)="closeModal()"
    >
      Cancelar
    </p-button>
    <p-button [disabled]="scheduleEventData.invalid"
              (click)="scheduleEvent()"
    >
      Marcar evento
    </p-button>
  </ng-template>
</p-dialog>