<div id="register-page">
  <p-card header="Cadastro" styleClass="register-form p-2">
    <div class="row mb-2">
      <div class="col">
        <label class="d-block">Nome</label>
        <input pInputText type="text" class="w-100">
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <label class="d-block">Usuário</label>
        <input pInputText type="text" class="w-100">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="d-block">Senha</label>
        <input pInputText type="password" class="w-100">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="d-block">Confirme sua senha</label>
        <input pInputText type="password" class="w-100">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p-button styleClass="rounded">Cadastrar</p-button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <small>Já possui uma conta? Faça <a [routerLink]="[loginPath]" class="login-here">login!</a></small>
      </div>
    </div>
  </p-card>
</div>