<p-card styleClass="p-2">
  <app-event-modal></app-event-modal>
  <app-data-table [items]="events"
                  [tableHeader]="header"
                  [tableContent]="content"
  ></app-data-table>

  <ng-template #header>
    <tr>
      <th *ngFor="let column of columns">{{column}}</th>
    </tr>
  </ng-template>

  <ng-template #content let-item>
    <tr>
      <td>
        <span>{{item.name}}</span>
      </td>
      <td>
        <span>{{item.date | date: 'dd/MM/yyyy'}}</span>
      </td>
      <td>
        <span [pTooltip]="item.participants.join(', ')">
          {{getParticipants(item.participants)}}
        </span>
      </td>
    </tr>
  </ng-template>
</p-card>
