.app-template {
  height: calc(100vh - 70px);
  width: 100%;
  background-color: floralwhite;
}

.app-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--primary-color);
  color: white;
}

.app-nav-button .pi {
  font-size: 1.5em;
}

.p-message {
  position: fixed;
  bottom: 0;
  margin: 20px;
}

.p-message-detail {
  padding: 0 20px;
}
