<p-card header="Meus dados"
        class="d-flex justify-content-center align-items-center h-100"
        styleClass="profile-data p-2"
>
  <app-user-data [(userData)]="userData" [disableFields]="!isEdition" [isEdition]="true"></app-user-data>
  <ng-template pTemplate="footer">
    <footer class="d-flex"
            [class]="isEdition ? 'justify-content-end' : 'justify-content-between'"
    >
      <p-button *ngIf="!isEdition"
                severity="danger"
                (click)="confirmDeleteUser()"
      >
        Excluir conta
      </p-button>
      <p-button *ngIf="!isEdition; else edicao" (click)="toggleEdition(true)">
        Editar
      </p-button>
      <ng-template #edicao>
        <p-button severity="danger"
                  [text]="true"
                  (click)="cancelEdit()"
        >
          Cancelar
        </p-button>
        <p-button [disabled]="!userData.valid"
                  (click)="updateUser()"
        >
          Salvar
        </p-button>
      </ng-template>
    </footer>
  </ng-template>
</p-card>
